body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FAEBD7;
  box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.filter label {
  margin-right: 4px;
}

.cards {  
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 8px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8px;
  margin: 8px;
  width: 400px;
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card label {
  margin: 0 4px;
}

.card address {
  margin-left: 4px;
}
.card div {
  width: 100%;
  margin: 8px 0;
}

.card-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid lightgray;
}

.card-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}
